@import "libraries/compass-mixins/lib/compass/functions";
@import "libraries/compass-mixins/lib/compass/typography";
@import "libraries/compass-mixins/lib/compass/css3";
@import "libraries/compass-animate/_animations";
@import "libraries/scss-blend-modes/_blend-mode";
@import "partials/book/defaults/_variables";
@import "partials/book/defaults/_mixins";
@import "partials/themeable/_variables";
@import "partials/base/_views-grid";
@import "partials/base/_base-typography";
@import "partials/base/_reset";
@import "partials/base/_range";
@import "partials/book/pages/_base";
@import "partials/book/panes/_pane-base";
@import "partials/book/panes/_pane-top";
@import "partials/book/panes/_pane-navbar";
@import "partials/book/panes/_pane-metadata";
@import "partials/book/panes/_pane-display";
@import "partials/book/panes/_pane-options";
@import "partials/book/panes/_pane-slider";
@import "partials/book/panes/_pane-loading";
@import "partials/book/panes/_pane-pager";
@import "partials/book/panes/_pane-thumbnails";
@import "partials/photo/_base.scss";

@import "partials/base/_openseadragon";


#log_console {
  table {
    width: 100%;
    td, th {
      .xid {
        width: 10px;
      }
      text-align: left;
      border: 1px solid #dbdbdb;
      border-top-width: 1px;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-left-width: 1px;
      border-width: 0 0 1px;
    //   padding: 0 .75em .5em .75em;
      padding-top: .75em;
      padding-bottom: .75em;
      vertical-align: top;
    }
  }
}

.hidden { 
  display: none;
  visibility: hidden;
}
