# Ignore configuration files that may contain sensitive information.

.sass-cache
.vscode/

# Ignore Intellij/PHPStorm/WebStorm files
*.iml

js/node_modules
*.sql
*.json
!filesize-from-csv.json
# Ignore editor backup files
*~
*#
#*
.DS_Store
