# Ignore configuration files that may contain sensitive information.
*-se-list.txt
datasource/dlts_viewer_content
.sass-cache
.vscode/
node_modules
# Ignore Intellij/PHPStorm/WebStorm files
*.iml
post.sh

js/node_modules
node_modules
*.sql
*.json
!filesize-from-csv.json
# Ignore editor backup files
*~
*#
#*
.DS_Store
cookie
v.v
dlts_viewer_content
curl-pass
node_modules

TODO.md
delete.sh
tickets.inc

vendor
vendor/*
composer.lock
composer.phar

viewers/mirador-4
