#openseadragon1 {
  height: 100%;
}
 
.pagemeta-hidden {
  margin-left: initial;
  padding-right: initial;
}
  
.pagemeta-hidden #thumbnails {
  padding-left: 3em;
  padding-right: initial;
}
   
.slider-block {
  padding-right: 1em;
}
  
#pager {
  padding-left: 1em;
}
