.views-g {
  letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
  *letter-spacing: normal; /* reset IE < 8 */
  *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
  text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */   
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  /* IE10 uses display: flexbox */
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  /* Prevents distributing space between rows */
  -ms-align-content: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  word-spacing: -0.43em;
}

.ctools-jump-menu-button {
  display: none;
  visibility: hidden;
}

#pagemeta {
  .view-mode-metadata {
    padding: 0 0 0;
    margin: .6rem;
  }
}
